<h1>Bienvenido a la Biblioteca de Babel, <%= @user.nickname %></h1>

<p>Te damos la bienvenida y esperamos que disfrutes de la magia de la literatura compartida </p>
<p> Recuerda conducirte siempre con respeto hacia otros usuarios y hacia nuestras normas que podras encontrar en los Terminos de Uso</p>

<p>Saludos de parte del Team bibliobabeano -el nombre aun esta en discusion con el equipo creativo ja -</p>
