<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYnnc-0lgNfrxRWXLxoFdKm7k1wYJN3snRuQ&s);">
  <div class="container">
    <h1>Dale <strong>Movimiento </strong> a tus <strong>libros</strong>!</h1>
    <%= link_to "Agrega tus libros", new_book_path, class: 'link'  %>
    <%= link_to "Busca libros", books_path, class: 'link' %>
  </div>
</div>
