<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Dale <strong>Movimiento </strong> a tus <strong>libros</strong>!</h1>
    <%= link_to "Agrega tus libros", new_book_path, class: 'btn'  %>
    <%= link_to "Busca libros", books_path, class: 'btn' %>
  </div>
</div>
