<% genre = ["Novela", "Policial", "Romantica", "Novela Historica", "Ciencia", "Poesia"] %>
<%= simple_form_for :search, url: books_path, method: :get, class: 'display-flex' do |f| %>
  <div class="search-form-control form-group">
    <%= select_tag :genre,
      options_for_select([["Genero", ""], *genre.map { |g| [g, g] }]),
      class: "form-control rounded bg-primary border-primary-darker"
    %>
    <%= text_field_tag :query, params[:query], class: "form-control rounded border-primary-darker", placeholder: "Buscar" %>
    <%= text_field_tag :location,
        params[:location],
        class: "form-control rounded border-primary-darker desktop-only",
        placeholder: "Ubicación"
    %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
