<%= link_to book_path(book), class:'link' do %>
  <div class='book-side'>
    <h5 class='book-side-author'><%= book.author %></h5>
    <h5 class='.book-side-title'><%= book.title %></h5>
  </div>
<% end %>
