<%= link_to :back, class: 'h2 text-primary-darker align-self-start' do %>
  <i class="fa-solid fa-arrow-left ps-3 pt-3"></i>
<%end%>
<h1 class='text-center my-3'>Nuevo libro</h1>
<%= render "form", book: @book %>
