/* Ensure container styles */
.container-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Book spine styling */
.book-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px; /* Adjusted width to make it more visible */
  height: 200px; /* Adjusted height for better visibility */
  margin: 20px;
  padding: 10px; /* Reduced padding */
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-90deg); /* Rotate to mimic the spine */
  transform-origin: left bottom; /* Rotate around the bottom-left corner */
  box-sizing: border-box; /* Ensure padding and border are included in size */
}

/* Title and author styling */
.book-side__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px; /* Adjusted margin */
  text-align: center; /* Ensure centered text */
}

.book-side__author {
  font-size: 1em;
  margin-bottom: 5px; /* Adjusted margin */
  text-align: center; /* Ensure centered text */
}

.link {
  text-decoration: none;
}

.fa-circle-check {
  color: #5cb85c;
}

.fa-circle-xmark {
  color: #d9534f;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
