.container-index {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.book-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Use grid for layout */
  grid-gap: 15px; /* Gap between the grid items */
  align-items: start; /* Align books to the top of the container */
  box-sizing: border-box;
}

.map-container {
  width: 25%;
  height: 600px;
  margin: 0 20px;
}

.book-side {
  width: 100%; /* Adjust width to simulate book spine width */
  height: 200px; /* Adjust height to simulate book spine height */
  background-color: #f4f4f4; /* Background color for the book spine */
  border: 1px solid #ddd; /* Border for the book spine */
  text-align: center;
  padding: 20px;

}

.book-side:hover {
    transform: scale(1.05);
    border: 1px solid #2d5821; /* Border for the book spine */
    ;
  }



.book-side h5 {
  margin: 5px 0;
  font-size: 1rem; /* Adjust font size to fit the spine */
}

.book-side-author {
  font-weight: bold;
}

.book-side-title {
  font-style: italic;
}

.fa-circle-check {
  color: #2d5821; /* Green color for the checkmark */
}

.fa-circle-xmark {
  color: #d9534f; /* Red color for the xmark */
}
